<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Add a new apartment, fam.</title>
</head>
<body>
<div>
	{{>/common/_navigation}}
	
	<form method="post" action="/apartments">
		<input type="number" required name="rent" placeholder="rent">
		<br>
		<input type="number" required name="number_of_bedrooms" placeholder="Number of Bedrooms">
		<br>
		<input type="number" required name="number_of_bathrooms" placeholder="Number of Bathrooms">
		<br>
		<input type="number" required name="square_footage" placeholder="Square Footage">
		<br>
		<input type="text" required name="address" placeholder="Address">
		<br>
		<input type="text" required name="city" placeholder="City">
		<br>
		<input type="text" required name="state" placeholder="State">
		<br>
		<input type="text" required name="zip_code" placeholder="Zip Code">
		<br>
		<input type="hidden" name="number_of_likes" value=0>
		
	<button>Add listing</button>
	</form>
</div>	
</body>
</html>